#main{
    display: flex;
    flex-direction: row;
    
}
#buttons{
    display: flex;
    flex-direction: row;
}
#contacts{
    display: flex;
    flex-direction: row;
}
.image{
    width: 200px;
    height: 200px;
    border-radius: 100px;
}